version: '3.8'

services: 
  data-scraper:
    build:
      context: .
      dockerfile: .dev/Dockerfile-dev
      target: scraper
    volumes:
      - ./cdn:/workspace/cdn
    develop:
      watch:
        - action: rebuild
          path: ./scripts
  
  wiki-calc:
    build: 
      context: .
      dockerfile: .dev/Dockerfile-dev
      target: webapp
    volumes:
      - ./cdn:/workspace/cdn
      - ./.next:/workspace/.next
    ports:
      - "3000:3000"
    deploy: 
      resources:
        limits:
          memory: 16G
          cpus: '8.0'
    environment:
      NODE_OPTIONS: "--max-old-space-size=16162"
    develop:
      watch:
        - action: sync
          path: ./src
          target: /srv/src
        - action: rebuild
          path: ./package.json
