@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #d0bd97;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.form-control {
  /*@apply bg-body-100;*/
  @apply border-body-400;
  @apply text-sm;
  @apply rounded;
  padding: .25em .5em;
  transition: background-color 0.25s, color 0.25s, border 0.25s;
}

.form-control[type=number] {
  @apply font-mono;
}

.form-control:invalid {
  @apply bg-red-100;
  @apply text-red-400;
  @apply border-red-400;
}

.form-control:disabled {
  @apply bg-gray-200;
  @apply cursor-not-allowed;
  @apply opacity-50;
}

input.form-control[type=number] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
}

#tooltip {
  @apply bg-btns-300;
  @apply opacity-100;
  @apply text-sm;
  @apply p-2;
}

.select-input input {
  box-shadow: none !important;
}

.select-option {
  cursor: pointer !important;
}

.select-option.selected {
  @apply bg-body-500;
}

.select-option.selected .monster-version {
  @apply text-white;
}

.equipment-select-menu {
  width: 350px !important;
}

.btn {
  @apply bg-btns-200;
  @apply hover:bg-btns-100;
  @apply text-white;
  @apply rounded;
  @apply px-3;
  @apply py-1;
  transition: background-color 0.5s;
}

button.btn:disabled {
  @apply bg-gray-300;
  @apply cursor-not-allowed;
}