@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  background: #cdba94;

  @apply dark:bg-dark-600;
  @apply font-sans;
}

body {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.form-control {
  /*@apply bg-body-100;*/
  @apply dark:bg-dark-200;
  @apply dark:text-gray-300;
  @apply border-body-400;
  @apply dark:border-dark-400;
  @apply border;
  @apply text-sm;
  @apply rounded;
  padding: .25em .5em;
  transition: background-color 0.25s, color 0.25s, border 0.25s;
}

.form-control::placeholder {
  @apply dark:text-gray-300;
}

.form-control[type=number] {
  @apply font-mono;
}

.form-control:invalid {
  @apply bg-red-100;
  @apply dark:bg-red-400;
  @apply text-red-400;
  @apply dark:bg-red-200;
  @apply border-red-400;
}

.form-control:disabled {
  @apply bg-gray-200;
  @apply cursor-not-allowed;
  @apply opacity-50;
}

input.form-control[type=number] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
}

#tooltip, #tooltip-warning {
  @apply bg-black;
  @apply text-xs;
  @apply p-1;
  @apply px-2;
  max-width: 100vw;

  @apply hidden;
  @apply block;
}

#tooltip-warning {
  @apply bg-orange-400;
}

.select-input input {
  box-shadow: none !important;
}

.select-option {
  cursor: pointer !important;
}

.select-option.selected {
  @apply bg-body-500;
}

.select-option.selected .monster-version {
  @apply text-white;
}

.equipment-select-menu {
  width: 350px !important;
}

.btn {
  @apply bg-btns-200;
  @apply dark:bg-dark-400;
  @apply dark:border;
  @apply dark:border-dark-200;
  @apply hover:bg-btns-100;
  @apply dark:hover:bg-dark-200;
  @apply text-white;
  @apply rounded;
  @apply px-3;
  @apply py-1;
  transition: background-color 0.5s;
}

button.btn:disabled {
  @apply bg-gray-300;
  @apply cursor-not-allowed;
  @apply dark:bg-gray-500;
  @apply dark:border-gray-400;
}

.recharts-xAxis, .recharts-yAxis {
  @apply font-mono;
}

.recharts-cartesian-axis .recharts-label {
  font-size: .9em;
  @apply lowercase;
}

/* Whatever style we apply to the axis ticks, we must apply to the measurement span to avoid issues */
.recharts-cartesian-axis-ticks, #recharts_measurement_span {
  @apply text-sm;
}

a {
  text-decoration: underline;
}

table {
  @apply w-fit;
  @apply text-left;
  @apply text-sm;
}

th, td {
  @apply border-body-500;
  @apply dark:border-dark-200;
  @apply font-normal;
}

thead {
  @apply border-b;
  @apply border-orange-300;
  @apply dark:border-b-dark-200;
}

thead th:not(:first-child) {
  @apply text-white;
}

th {
  @apply px-2;
  @apply py-1;
}

tbody tr {
  @apply border-b;
  @apply border-dark-200;
}

tbody tr:last-child th:first-child {
  @apply rounded-bl;
  @apply pb-2;
}

tbody th:first-child {
  @apply text-white;
}

tbody th.t-group-header {
  @apply px-4 italic pl-6 border-r bg-btns-500 dark:bg-dark-600 select-none text-body-300;
}

/* Toasts */
:root {
  --toastify-icon-color-success: theme(backgroundColor.green.200);
  --toastify-icon-color-error: theme(backgroundColor.red.200);
}

.Toastify__toast {
  @apply transition-colors;
  @apply duration-500;
}

.Toastify__toast--default {
  @apply bg-dark-200;
  @apply text-white;
}

.Toastify__toast--warning {
  @apply bg-orange-500;
  @apply text-orange-200;
}

.Toastify__toast--success {
  @apply bg-green-500;
  @apply text-green-200;
}

.Toastify__toast--error {
  @apply bg-red-500;
  @apply text-red-200;
}

/* Lists */
.changelog-list li {
  margin: 1em 0;
}

.changelog-list li:first-child {
  margin-top: 0;
}
