@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  background: #cdba94;

  @apply dark:bg-dark-600;
  @apply font-sans;
}

body {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.form-control {
  /*@apply bg-body-100;*/
  @apply dark:bg-dark-200;
  @apply dark:text-white;
  @apply border-body-400;
  @apply dark:border-dark-400;
  @apply border;
  @apply text-sm;
  @apply rounded;
  padding: .25em .5em;
  transition: background-color 0.25s, color 0.25s, border 0.25s;
}

.form-control::placeholder {
  @apply dark:text-white;
  @apply opacity-75;
}

.form-control[type=number] {
  @apply font-mono;
}

.form-control:invalid {
  @apply bg-red-100;
  @apply dark:bg-red-400;
  @apply text-red-400;
  @apply dark:bg-red-200;
  @apply border-red-400;
}

.form-control:disabled {
  @apply bg-gray-200;
  @apply cursor-not-allowed;
  @apply opacity-50;
}

input.form-control[type=number] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
}

#tooltip {
  @apply bg-black;
  @apply text-xs;
  @apply p-1;
  @apply px-2;
  max-width: 100vw;

  @apply hidden;
  @apply block;
}

.select-input input {
  box-shadow: none !important;
}

.select-option {
  cursor: pointer !important;
}

.select-option.selected {
  @apply bg-body-500;
}

.select-option.selected .monster-version {
  @apply text-white;
}

.equipment-select-menu {
  width: 350px !important;
}

.btn {
  @apply bg-btns-200;
  @apply dark:bg-dark-400;
  @apply dark:border;
  @apply dark:border-dark-200;
  @apply hover:bg-btns-100;
  @apply dark:hover:bg-dark-200;
  @apply text-white;
  @apply rounded;
  @apply px-3;
  @apply py-1;
  transition: background-color 0.5s;
}

button.btn:disabled {
  @apply bg-gray-300;
  @apply cursor-not-allowed;
  @apply dark:bg-gray-500;
  @apply dark:border-gray-400;
}

.recharts-xAxis, .recharts-yAxis {
  @apply font-mono;
}

.recharts-cartesian-axis-ticks {
  @apply text-sm;
}

a {
  text-decoration: underline;
}

table {
  @apply w-fit;
  @apply text-left;
  @apply text-sm;
}

th, td {
  @apply border-body-500;
  @apply dark:border-dark-200;
  @apply font-normal;
}

thead {
  @apply border-b;
  @apply border-orange-300;
  @apply dark:border-b-dark-200;
}

thead th:not(:first-child) {
  @apply text-white;
}

th {
  @apply px-2;
  @apply py-1;
}

tbody tr:not(tr:last-child) {
  @apply border-b;
  @apply border-dark-200;
}

tbody tr:last-child th:first-child {
  @apply rounded-bl-lg;
  @apply pb-2;
}

tbody th:first-child {
  @apply text-white;
}
